.container-livres{
  display: flex;
  width: 100%;
  min-height: 100%;
  flex-direction: column;
  background-color:#ffffff;
}

.container-livres .title{
  position: absolute;
  top: 20%;
  left: 10%;
  display: block;
  width: 90%;
  font-size: 1.5em;
  z-index: 1;
  padding: 0;
}

.container-livres .container-vignettes{
  margin-top: 10%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 90%;
  padding: 0 5%;
  min-height: 100%;
  background-color:#ffffff;
  
}

.container-livres .container-vignettes .vignette{
  width: auto;
  display: inline-block;
  background-color: transparent;
  margin: .5em;
}

/* .container-livres .container-vignettes .vignette{
  box-shadow: .5px .5px 5px rgba(7,11,24,.3)
} */

.container-livres .container-vignettes .vignette:hover{
  box-shadow: 0px 0px 10px 1px rgba(7,11,24,.2)
}

.container-livres .container-vignettes .vignette .photo{
  display: block;
  margin: auto;
  width: 260px;
  height: 400px;
}

.container-livres .container-vignettes .vignette .texte {
  display: block;
  width: 75%;
  margin: auto;
}
.container-livres .container-vignettes .vignette .texte h3{
  font-size: 1.1em;
  font-weight: 400;
  margin-bottom: .3em;
  font-style: italic;
}

.container-livres .container-vignettes .vignette .texte h4{
  font-size: .8em;
  font-weight: 400;
  padding-bottom: 1em;
}

.container-livres .container-vignettes .vignette .texte h5{
  font-size: 1.1em;
  font-weight: 600;
  padding-bottom: 1em;
}

.container-livres .container-vignettes .vignette .texte .description{
  font-size: .8em;
}

@media screen and (min-width: 200px) and (max-width: 640px) {

  .container-livres .title{
    position: absolute;
    left: 10%;
    top: 18vh;
    font-size: 1.3em;
  }
  
  .container-livres .container-vignettes{
    display: flex;
    margin-top: 50px;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .container-livres .container-vignettes .vignette{
    width: 40%;
  }

  .container-livres .container-vignettes .vignette .texte h3{
    display: none;
  }

  .container-livres .container-vignettes .vignette .texte h4{
    display: none;
  }

  .container-livres .container-vignettes .vignette .texte h5{
    font-size: .8em;
    font-weight: 600;
    margin-bottom:0;
  }

  .container-livres .container-vignettes .vignette .photo{
    width: 80%;
    height: 80%;
  }

}

@media screen and (min-width: 640px) and (max-width: 1200px) {
  .container-livres .title{
    position: absolute;
    top: 37vh;
    font-size: 1.5em;
  }

  .container-livres .container-vignettes .vignette{
    width: 30%;
  }

  .container-livres .container-vignettes .vignette .texte{
    width: 60%;
  }

  .container-livres .container-vignettes .vignette .texte h3{
    font-size: .8em;
  }

  .container-livres .container-vignettes .vignette .texte h4{
    display: none;
  }

  .container-livres .container-vignettes .vignette .texte h5{
    font-size: .8em;
    font-weight: 600;
  }

  .container-livres .container-vignettes .vignette .photo{
    width: 60%;
    height: auto;
  }


}
