.container-livres{
  display: flex;
  width: 100%;
  min-height: 100%;
  flex-direction: column;
  background-color:#ffffff;
}

.container-livres .title{
  position: absolute;
  top: 20%;
  left: 10%;
  display: block;
  width: 90%;
  font-size: 1.5em;
  z-index: 1;
  padding: 0;
}

.container-livres .container-vignettes{
  margin-top: 10%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 90%;
  padding: 0 5%;
  background-color:#ffffff;
}

.container-livres .container-vignettes .vignette{
  position: relative;
  width: auto;
  display: inline-block;
  background-color: transparent;
  margin: .5em;
  padding: .5rem;
}

.container-livres .container-vignettes .vignette:hover{
  box-shadow: 0px 0px 10px 1px rgba(7,11,24,.2);
  border-bottom-right-radius: 30px 30px;
} 

.container-livres .container-vignettes .vignette .photo{
  display: block;
  margin: auto;
  width: 260px;
  height: 400px;
}

.container-livres .container-vignettes .vignette .texte {
  display: block;
  width: 90%;
  text-align: left;
  padding: 5px 0px 0px 15px;
  color: rgba(7,11,24,.5);
}

.container-livres .container-vignettes .vignette .texte:hover {
  color: rgba(7,11,24,1);
}


.container-livres .container-vignettes .vignette .texte .icon-buy{
  position: absolute;
  right: 15px;
  bottom: 15px;
  transition: all 0.3s ease-out;
  transform: translateX(0%) scale(0.5,0.5);
  color: rgba(204, 0, 0, 0.8);
  font-size: 50px;
  margin: 5px;
  cursor: pointer;
}

.container-livres .container-vignettes .vignette .texte:hover .icon-buy{
  transform: translateX(-110%) scale(2.6, 1) ;
  color: #cc0000;
}

.container-livres .container-vignettes .vignette .texte .icon-txt {
  position: absolute;
  right:40px;
  transition: all 0.3s ease-out;
  transform: translateY(0%);
  color: #ffffff;
  font-size: 1em;
  cursor: pointer;
}

.container-livres .container-vignettes .vignette .texte:hover .icon-txt{
  transform: translateY(-280%);
  font-size: .8em;
  font-weight: 700;
  text-transform: uppercase;
}

.container-livres .container-vignettes .vignette .texte h3{
  font-size: 1em;
  font-weight: 400;
  margin-bottom: .5em;
  margin-top: -1em;
  font-style: italic;
  height: 2em;
}

.container-livres .container-vignettes .vignette .texte h4{
  font-size: .8em;
  font-weight: 400;
  padding-bottom: .5em;
}

.container-livres .container-vignettes .vignette .texte h5{
  font-size: 1em;
  font-weight: 600;
  padding-bottom: 1em;
}

.container-livres .container-vignettes .vignette .texte .description{
  font-size: .8em;
}

@media screen and (min-width: 200px) and (max-width: 640px) {

  .container-livres .title{
    position: absolute;
    left: 10%;
    top: 18vh;
    font-size: 1.3em;
  }
  
  .container-livres .container-vignettes{
    display: flex;
    margin-top: 50px;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .container-livres .container-vignettes .vignette{
    width: 40%;
  }

  .container-livres .container-vignettes .vignette .texte {
    color: rgb(7,11,24);
  }

  .container-livres .container-vignettes .vignette .texte h3{
    display: none;
  }

  .container-livres .container-vignettes .vignette .texte h4{
    display: none;
  }

  .container-livres .container-vignettes .vignette .texte h5{
    font-size: .8em;
    font-weight: 600;
    margin-bottom:0;
  }

  .container-livres .container-vignettes .vignette .photo{
    width: 80%;
    height: auto;
  }

}

@media screen and (min-width: 640px) and (max-width: 1200px) {
/*   .container-livres .title{
    position: absolute;
    top: 37vh;
    font-size: 1.5em;
  }
 */

.container-livres .container-vignettes{
  width: 100%;
  padding: 0;
}
  .container-livres .container-vignettes .vignette{
    width: 33%;
    margin: 15px;
    padding: 15px;
  }

  .container-livres .container-vignettes .vignette .texte{
    width: 50%;
    color: rgb(7,11,24);
  }

  .container-livres .container-vignettes .vignette .texte h3{
    font-size: .8em;
  }

  .container-livres .container-vignettes .vignette .texte h4{
    display: none;
  }

  .container-livres .container-vignettes .vignette .texte h5{
    font-size: .8em;
    font-weight: 600;
  }

  .container-livres .container-vignettes .vignette .photo{
    width: 100%;
  }


}
