.container-produit{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.container-produit .fiche-prod{
  width: 50%;
  height: auto;
  display: flex;
  justify-content: end;
  margin-top: 5em;
}

.container-produit .infos-prod{
  width: 20%;
  margin-top: 15em;
  display: flex;
  flex-direction: column;
}

.container-produit .fiche-prod .photo{
  display: block;
  width: 40%;
}

.container-produit .fiche-prod .photo-revue{
  display: block;
  width: 40%;
  padding: 4%;
}

.container-produit .infos-prod h3{
  display: block;
  font-size: 1.5em;
}

.container-produit .infos-prod ul li{
 text-decoration: none;
 list-style: none;
}

.container-produit .infos-prod .price{
  margin-top: 1em;
  font-size: 2em;
 }

 .container-produit .infos-prod .description{
  margin-top: 1em;
  font-size: 1em;
  font-style: italic;
 }


@media screen and (min-width: 200px) and (max-width: 640px) {
  .container-produit {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: flex-start;
  }

  .container-produit .fiche-prod{
    width: 50%;
    margin-top: 0em;
  }
  
  .container-produit .infos-prod{
    width: 50%;
    margin-top: 2em;
    display: flex;
    flex-direction: column;
  }

  .container-produit .fiche-prod .photo{
    width: 100%;
    height: auto;
  }

  .container-produit .fiche-prod .photo-revue{
    width: 100%;
  }

  .container-produit .infos-prod h3{
    font-size: 1em;
  }

  .container-produit .infos-prod .description{
    margin-top: .5em;
    font-size: .8em;
    font-style: italic;
   }

  .container-produit .infos-prod .price{
    font-weight: 700;
    font-size: 1.2em;
  }
}

@media screen and (min-width: 640px) and (max-width: 1200px) {
  .container-produit {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: flex-end;
  }
 
  .container-produit .fiche-prod{
    width: 50%;
  }
  
  .container-produit .infos-prod{
    width: 40%;
    margin-bottom: 1em;
  }

  .container-produit .fiche-prod .photo{
    display: block;
    width: 40%;
  }

  .container-produit .fiche-prod .photo-revue{
    width: 40%;
    padding-right: 1em;
  }

  .container-produit .infos-prod h3{
    font-size: 1em;
  }

  .container-produit .infos-prod .description{
    margin-top: .5em;
    font-size: .9em;
    font-style: italic;
   }

  .container-produit .infos-prod .price{
    margin-top: 1em;
    font-size: 1em;
    font-weight: 600;
  }
}