.container-produit{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 100vh;
  background-color:#FFFACD;
}

.container-produit .fiche-prod, .infos-prod{
  width: 50%;
  display: block;
}

.container-produit .fiche-prod .photo{
  width: 60%;
  display: block;
}

.container-produit .fiche-prod .infos-prod{
  background-color: lawngreen;
}