.container-global{
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}

.header{
  width: 100%;
  z-index: 2;
  display: flex;
  align-items: center;
  height: 12%;
  flex-direction: row;
  background-color:#1C2833;
  padding: 1rem 0;
}

.header .logo{
  display: block;
  width: 20%;
  text-align: center;
}

.header .signature{
  display: block;
  width: 50%;
  font-family: 'Cookie', cursive;
  text-align: center;
  color:#ffffff;
  text-decoration: none;
}

.header .signature .link{
  font-size: 3em;
}

.header .nav{
  width: 50%;
  padding-bottom: 2em;
  display: inline-block;
}

.header .nav ul{
  position: absolute;
  right: 0;
  text-align: center;
  width: 30%;
}

.header .nav ul li{
  display: inline-block;
  margin-right: 3rem;
  width: 25%;
}

.header .nav .links-nav{
  font-weight: 400;
}

.header .nav .links-nav .icon{
  font-size: 1.5em;
}
.header .nav .links-nav .icon-txt{
  text-align: center;
  font-size: .8em;
}

.header .nav ul li a{
  color: #ffffff;
  text-decoration: none;
}

.header .nav ul li a:hover{
  color: #8eafce;
}
.submenu{
  position: absolute;
  width: 100%;
  top: 4.5em;
  display: flex;
  flex-direction: row;
  padding: 1em 0;
  z-index: 1;
  color: #8eafce;
  justify-content: space-between;
  background-color: #37202b;
}

.submenu .catalogue-tag{
  display: inline-block;
  width: 40%;
  font-size: 1.2em;
  font-weight: 600;
  text-align: left;
  padding-left: 8em;
  color: #8eafce;
}

.submenu .catalogue-tag:hover{
  text-decoration: underline;
}

.submenu .dropdown{
  display: flex;
  flex-direction: column;
  align-items:center;
  width: 50%;
  padding: 0;
  margin: 0;
}

.submenu .dropdown a{
  color: #1C2833;
}
.submenu .dropdown .catalogue{
  position: absolute;
  left: 2em;
  font-size: 2em;
  font-family: 'Cookie', cursive;
  font-weight: lighter;
  color: #ffffff;
}
.submenu .dropdown ul{
  width: 50%;
  position: absolute;
  list-style-type: none;
  width: 200px;
  top:4em;
  left: .5em;
  margin: 0;
  padding: 0;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,.3);
}

.submenu .dropdown li{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  text-decoration: none;
  color: #1C2833;
  font-size: 1em;
  font-weight: 500;
  background-color:#ff4500;
}

.submenu .dropdown li:hover{
  background-color: #FFFACD;
  color: #1C2833;
}

.submenu .dropdown li:last-child{
  border-bottom: none;
}

.submenu nav{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 60%;
  text-transform: uppercase;
}

.submenu nav ul{
  width: 100%;
  text-align: left;
}

.submenu .nav .links-nav{
  font-weight: 700;
  font-size: 1.2em;
  color: #8eafce;
}
.submenu nav ul li{
  width: 35%;
  display: inline-block;
}

.submenu nav ul li a{
  color: #1c2833;
  text-decoration: none;
}

.submenu nav ul li a:hover{
  text-decoration: underline;
}

.section1{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.section1 .subtitle{
  position: absolute;
  top:150px;
  left: 50px;
  font-family: 'Cookie', cursive;
  font-size: 3em;
  font-weight: lighter;
  color: #ffffff;
  transform: rotate(-8deg);
  z-index: 1;
  text-align: center;
  line-height: .8;
  text-shadow: 0 0 2px #6a7987, 0 0 8px #1c2833;
}

.section1 .evenement{
  z-index: 1;
  font-size: 3em;
  position: absolute;
  top:300px;
  left: 50px;
  color: #ffffff;
  text-shadow: 0 0 1px #6a7987, 0 0 5px #1c2833;
}

.footer{
  width: 100%;
  align-items: center;
  background-color:#6a7987;
  text-align: center;
  padding: 5rem 0;
  color: #ffffff;
}

.footer ul{
  width: 100%;
}

.footer ul li{
  display: inline-block;
  width: 33%;
}

.footer ul li a{
  text-decoration: none;
  color: #ffffff;
  font-size: 1em;
}

.footer ul li a:hover{
  text-decoration: underline;
}


@media screen and (min-width: 200px) and (max-width: 640px) {
  .container-produit{
    flex-direction: row;
  }

  .header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
  .header .signature{
    font-size: 1.3em;
    width: 50%;
  }
  
  .header .signature .link{
    font-size: 1.5em;
  }
  
  .header .nav ul{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: end;
  }

  .header .nav .links-nav{
    width: 25%;
    font-weight: 400;
  }
  
  .header .nav ul li{
    margin-right: 1.8rem;
  }
  .header .nav .links-nav .icon{
    font-size: 1.2em;
  }
  .header .nav .links-nav .icon-txt{
    font-size: .7em;
  }
  
  .submenu{
    top: 50px;
    padding: 2em 0em;
  }

  .submenu .catalogue-tag{
    font-size:14px;
    width: 45%;
    text-align: left;
    padding-left: 16px;
  }

  .submenu .nav{
    width: 55%;
   justify-content: flex-end;
  }

  .submenu .nav .links-nav{
    font-weight: 700;
    font-size: 1em;
  }

  .submenu .nav li:nth-child(2){
    padding-left: 16px;
  }

  .section1 .subtitle{
    top:150px;
    font-size: 24px;
    left: 20px;
  }

  .section1 .evenement{
    display: none;
  }
  
  .footer{
    font-size: 1em;
    padding: 3rem 0;
  }

  .footer ul li{
    font-size: .7em;
  }

}

@media screen and (min-width: 640px) and (max-width: 1200px) {
 
  .header .nav .links-nav .icon{
    font-size: 1.3em;
  }
  .header .nav .links-nav .icon-txt{
    font-size: .7em;
  }
  
  .submenu {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 16px;
    padding: 16px 0px;
  }

  .submenu .signature{
    font-size: 1.8em;
  }

  .submenu .nav .links-nav{
    font-size: 1em;
  }


  .section1 .subtitle{
    top:150px;
    left: 20px;
    font-size: 2em;
  }

  .footer{
    font-size: 1em;
  }

}
