.container-global{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background-color: #FFFACD;
}

.header{
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 2;
  display: flex;
  align-items: center;
  height: 12vh;
  flex-direction: row;
  background-color:#1C2833;
  color: #FFFACD;
}

.header .logo{
  display: block;
  width: 20%;
  text-align: center;
}

.header .signature{
  display: block;
  width: 50%;
  font-family: 'Cookie', cursive;
  text-align: center;
  color: #FFFACD;
  text-decoration: none;
}

.header .signature .link{
  font-size: 3em;
}

.header .nav{
  width: 50%;
  padding-bottom: 2em;
  display: inline-block;
}

.header .nav ul{
  position: absolute;
  right: 0;
  text-align: center;
  width: 30%;
}

.header .nav ul li{
  display: inline-block;
  margin-right: 3rem;
  width: 25%;
}

.header .nav .links-nav{
  font-weight: 400;
}

.header .nav .links-nav .icon{
  font-size: 1.5em;
}
.header .nav .links-nav .icon-txt{
  text-align: center;
  font-size: .8em;
}

.header .nav ul li a{
  color: #FFFACD;
  text-decoration: none;
}

.header .nav ul li a:hover{
  color: #070B18;
}
.submenu{
  position: absolute;
  width: 100%;
  top: 12vh;
  display: flex;
  flex-direction: row;
  padding-top: 1em;
  z-index: 1;
  padding-bottom: 1em;
  background-color:#ff4500;
  color: #FFFACD;
}

.submenu h3{
  display: block;
  width: 35%;
  text-align: center;
  font-family: 'Cookie', cursive;
  font-weight: lighter;
}

.submenu nav{
  display: flex;
  align-items: center;
  width: 65%;
  text-transform: uppercase;
  padding-left: 3em;
}

.submenu nav ul{
  width: 100%;
  text-align: left;
}

.submenu .nav .links-nav{
  font-weight: 700;
  font-size: 1.2em;
}
.submenu nav ul li{
  width: 35%;
  display: inline-block;
}

.submenu nav ul li a{
  color: #FFFACD;
  text-decoration: none;
}

.submenu nav ul li a:hover{
  text-decoration: underline;
}

.section1{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  height: 80vh;
}

.section1 .subtitle{
  font-family: 'Cookie', cursive;
  font-size: 2em;
  font-weight: lighter;
  padding-top: 15vh;
  padding-left: 2em;
  color: #1C2833;
}

.section1 .evenement{
  z-index: 1;
  font-size: 2em;
  padding: 1em;
  top: 25vh;
  color: #ffffff;
}

.footer{
  position: fixed;
  bottom: 0;
  display: flex;
  align-items: center;
  width: 100%;
  height: 8vh;
  background-color:rgba(28,40,51,.4);
  text-align: center;
}

.footer ul{
  width: 100%;
}

.footer ul li{
  display: inline-block;
  width: 33%;
}

.footer ul li a{
  text-decoration: none;
  color: #070B18;
}

.footer ul li a:hover{
  text-decoration: underline;
}


@media screen and (min-width: 200px) and (max-width: 640px) {
  .container-produit{
    flex-direction: row;
  }

  .header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
  .header .signature{
    font-size: 1.5em;
    width: 50%;
  }
  
  .header .signature .link{
    font-size: 1.5em;
  }
  
  .header .nav ul{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: end;
  }

  .header .nav .links-nav{
    width: 25%;
    font-weight: 400;
  }
  
  .header .nav ul li{
    margin-right: 1.8rem;
  }
  .header .nav .links-nav .icon{
    font-size: 1.2em;
  }
  .header .nav .links-nav .icon-txt{
    font-size: .7em;
  }
  
  .submenu{
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .submenu h3{
    position: absolute;
    top: .2em;
    font-size: 1.2em;
    color: #1C2833;;
  }

  .submenu nav{
    position: absolute;
    right: 1em;
    display: flex;
    flex-direction: row;
  }
  .submenu .nav .links-nav{
    display: inline;
    padding-left: .8em;
    font-weight: 700;
    font-size: 1em;
  }

  .section1 .subtitle{
    font-size: 2em;
    padding-top: 10vh;
    padding-left: 1em;
  }

  .footer{
    position: fixed;
    bottom: 0;
  }

  .footer ul li{
    font-size: .7em;
  }
  
  
}

@media screen and (min-width: 640px) and (max-width: 1200px) {
  .header{
    height: 16vh;
  }

  .header .nav .links-nav .icon{
    font-size: 1.3em;
  }
  .header .nav .links-nav .icon-txt{
    font-size: .7em;
  }
  .submenu {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 1.5em;
  }

  .submenu h3{
    font-size: 1.5em;
  }
  .submenu .nav .links-nav{
    font-size: 1em;
  }
 
  .section1 .subtitle{
    font-size: 2em;
    padding-top: 18vh;
    padding-left: 1em;
  }
  .footer{
    position: fixed;
    bottom: 0;
  }

}
